body {
	background: black;
	color: white;
}

header {
	height: 100px;
	padding: 20px 30px;
	margin-bottom: 30px;
}
.header__titel {
	float: left;
	/*width: 85%*/
}

.basket {
	background: #D58C51;
	width: 40px;
	height: 40px;
	border-radius: 40px;
    margin-left: 20px;
    display: inline-block;
   /* position: absolute;
    top: 30px;
    /* left: -115px; */
/*    right: 20px;*/*/
}

.basket > img {
	position: absolute;
    top: 55px;
    right: 49px;
}

.header__basket {
	    display: inline-block;
	    float: right;
	    margin-top: 20px;
}

.sum {
	float: left;
	margin-left: 10px;
}

#container {
	margin: 0 70px 70px 70px;
	display: flex;
    text-align: justify;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart {
	height: 552px;
	width: 312px;
	left: 70px;
	top: 173px;
	border-radius: 0px;
	border: 1px solid #D58C51;
	padding: 41px 21px;
	margin: 10px;

}

.plus {
	height: 15px;
	background: white;
	border-radius: 10px;
}

.container__good-img {
	width: 270px;
	height: 270px;
}

.cart__add-in-basket {
	/*margin-top: 60px;*/
    display: inline-block;
    width: 100%;
}

.cart__add-in-basket-button {
	float: right;
    border-radius: 10px;
}

.cart__descr {
	height: 180px;
    text-overflow: ellipsis;
}