* {
	box-sizing: border-box;
}

    form__email-input > span {
    display: inline-block;
    float: left;
    }
    
    .form__item {
    	position: relative;
    }

    .error_email, .error_email_valid, .error_password, .error_password_valid, .error_check{
    	position: absolute;
    	color: red;
    	display: none;
    	color: red;
    	top: 21px;
        font-size: 12px;
    }

    #star_check {
    	top: 11px;
    }

    .star {
    	position: absolute;
    	top: 40px;
    	left: -10px;
    }

    .red {
    	color: red;
    }

    .border_red {
    	border: 1px solid red;
    }

/*@media screen and (max-width: 1440px) and (min-width: 769px) {
	body {
		background-image: url(img/main/Лист 3-02 1 (1).png);
	}*/
	
body {
    display: flex;
    justify-content: center;
    margin-top: 82px;
    color: #D58C51; 
    font-family: Roboto;
    background-image: url(img/main/1.png);

}

h1 {
	text-align: center;
	margin-bottom: 36px;
	font-size: 31px;
}

.form {
	/*width: 600px;
	border-radius: 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 0 46px 26px 45px;*/
	
	width: 460px;
	left: 490px;
	top: 358px;
	border-radius: 0px;
	background: white;
	padding: 36px 20px 34px 20px;
}

.form__checkbox-wrapper {
	position: relative;
    width: fit-content;
    display: flex;
    margin-top: 20px;
}

input::placeholder { 
	opacity: 0.5;
}

input {
	width: 100%;
	height: 36px;
	border-radius: 10px;
	border: 1px solid #D58C51;
	/*margin-bottom: 20px;*/
	font-weight: bold;
	color: #D58C51; 
	padding: 7px 0 6px 15px;
	font-size: 16px;
	
}

/*input:hover {
	border: 1px solid orange;
	color: #787878; 
}*/



label {
	padding-left: 10px;
	font-size: 16px;
	margin-bottom: 3px;
	margin-top: 13px;
	display: inline-block;
	font-weight: bold;
}

.form__checkbox-label-agree {
	font-size: 14px;
	font-style: Regular;
	font-weight: normal;
}

.form__checkbox {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}

.form__checkbox-mark {
  width: 16px;
  height: 16px;
  border: 1px solid #D58C51;
  border-radius: 7px;
  margin-top: 12px; 

}

/*Интересно,почему работает и без after

.form__checkbox:checked + .form__checkbox-mark {
  background: #1B2473;
  /*background: url(img/agree.png);*/


.form__checkbox:checked + .form__checkbox-mark::after {
  content: '✓';  /*Галочка не снимается */
  position: absolute;
  top: 7px; 
  left: 4px;
  /*background: url(img/agree.png); не получилось*/
}

.form__button {
	text-align: center;
}

.form__button-inside {
	left: 0px;
	top: 0px;
	border-radius: 10px;
	background: #D58C51;
	color: white;
	padding: 0 56px 0 55px;
	font-size: 24px;
	margin-top:36px;
	margin-bottom: 26px;
	/*width: 180px;*/
	height: 56px;
}

#email-input[required] + label:before {
  content: "\2709";
  /*position: absolute;
  left: -1.2em;*/
  font-size: 23px;
  color: rgb(238, 238, 238);
}

.form__item {
	margin-bottom: 15px;
}


/*@media screen and (max-width: 768px) and (min-width: 320px) {

	body {
		display: flex;
	    justify-content: center;
	    margin: 10px;
	    background-image: url(img/main/Лист 3-02 1 (1).png);
	    color: #787878;
	}

	h1 {
		margin-top: 38px;
		margin-bottom: 0;
		font-size: 60px;
	}

	.form {
		margin: 20px;
		width: 728px; *//*Почему видст статичный, а все равно работает как резиновая верстка*/
	/*}
	.form__button-inside {
		left: 0px;
		top: 0px;
		border-radius: 10px;
		background: #1B2473;
		color: white;
		padding: 32px 64px;
		font-size: 32px;
		margin-top:104px;
	}

	.form__checkbox-wrapper {
		margin-top: 27px;

	}

	.form__button-inside {
		margin-top: 72px;
		height: 80px;
		width: 220px;
		padding: 0;
		font-size: 32px;
	}

	label {
		font-size: 24px;
	}

	.form__checkbox-label-agree {
		font-size: 18px;
	}*/
}